
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background:darkslategrey;
}

li {
    color:rgb(255, 166, 0);
}

#watermelon-1 {
    color: #420200 !important;
}

#watermelon-2 {
    color: #00422E !important;
}

#watermelon-3 {
    color: #004201 !important;
}

#watermelon-4 {
    color: #C26461 !important;
}

#watermelon-5 {
    color: #6FC2A8 !important;
}